	footer {
		background-color: #003887;
		color: white;
		padding: 0;
	}
	
	.rodape {
		display: flex;
		gap: 50px;
		justify-content: center;
		width: 1180px;
		margin: 0 auto;
		padding: 20px;
	}
	
	
	.endereco p{
		font-size: 14px;
		text-align: center;
		margin: 0;
	}
	
	.redes-sociais {
		display: flex;
		gap: 20px;
		justify-content: center;
		margin-bottom: 20px;
	}
	
	.icon {
		width: 30px;
	}
	
	address {
		font-style: normal;
	}