	header{
		display: flex;
		background-color: #fff;
		width: 100%;
		box-shadow: 0 0 12px rgba(0,0,0,.08);
	}

	.logotipo {
		padding: 10px;
		margin: 0 0 15px 60px;
	}
		
	.logotipo-fourclean {
		width:  200px;
	}		

	.menu {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	} 
	
	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		gap: 100px;
	}
	