	header{
			display: flex;
			background-color: #fff;
			width: 100%;     
		}

		.imagemlogo{
			padding: 10px;
			margin: 0 0 15px 60px;
		}
		
		.logo2 {
			width:  200px;
		}		

		.menu {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
		} 
	
	ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			gap: 100px;
		}
	
	a:link {
		color: #171E70;
		text-decoration: none;
		}
		

body {
	font-family: arial;
}

footer { 	
	font-family: arial;
	font-size: 16px;
	color: white;
	text-align: center;
	background-color: #003887;
	padding: 10px;
	}
