@import url('fonts.css');

body{
	font-family: arial;
		color: #0f0042;
}

form {
	display: grid;
	gap: 10px;
	width: 100%;
	max-width: 400px;
	margin: 100px auto;
}

form input, form textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form button {
	background: #0077c2;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.contato{
		background: #003887;
		color: #fff;
		font-size: 24px;
		text-align: center;
		margin: 0 auto;
		height: 100px;
		display: flex;  
		justify-content: center;
		align-items: center;
	}
	
.contato h2{ 
	margin: 0px;
	
}