	footer {
		background-color: #003887;
		color: white;
		padding: 15px;
	}
	
	.rodape {
		display: flex;
		gap: 50px;
		justify-content: center;
		margin: 0 auto;
		padding: 20px;
	}
	
	.endereco p{
		font-size: 16px;
		text-align: left;
		margin: 0;
		align-items: center;
	}
	
	.redes-sociais {
		height: 30px;
		display: flex;
		gap: 10px;
		align-items: center;
		margin: auto 0px;
	}
	
	.icon {
		width: 30px;
	}
	
	address {
		font-style: normal;
	}
	
	@media (max-width: 680px){ 
	
	.rodape {
		flex-wrap: wrap;
		gap: 0px;
		margin-left: 25px;
	}
	
	.redes-sociais { 
		width: 100%;
		margin-bottom: 20px;
	}
	
	.endereco {
		width: 50%;
	}
	}
