	
	body{
		font-family:Arial;
	}
	
	#titulo-chamada-servicos {
		background: #003887;
		display: flex;
		justify-content: space-around;
		color: #fff;
		font-size: 24px;
		align-items: center;
	}
	
	.descricao-servicos p {
		font-size: 20px;
	}

	.descricao-servicos h2 {
		font-size: 35px;
	}

	.descricao {
		color: #284268;
	}

	.servicos-imagem {
		width: 450px;
		border-radius:6px;
		box-shadow:0 8px 24px rgba(0,0,0,.08);
	}
	
	.para-você {
		display: flex;
		justify-content: space-around;
		flex-direction: row-reverse;
		gap: 80px;
		align-items: center;
		margin: 80px;
		padding: 40px;
		background: none;
		border-radius: 25px 0 25px 0;
		box-shadow:0 8px 24px rgba(0,0,0,.08);
	}
	
	.para-casa {
		display: flex;
		justify-content: space-around;
		gap: 80px;
		align-items: center;
		margin: 80px;
		padding: 40px;
		background: none;
		border-radius: 25px 0 25px 0;
		box-shadow:0 8px 24px rgba(0,0,0,.08);
	}
	
	.para-empresa {
		display: flex;
		justify-content: space-around;
		flex-direction: row-reverse;
		gap: 80px;
		align-items: center;
		margin: 80px;
		padding: 40px;
		background: none;
		border-radius: 25px 0 25px 0;
		box-shadow:0 0 24px 0 rgba(0,0,0,.08);
	}
	
	@media (max-width: 680px){ 

	.para-você {
		display: flex;
		flex-direction: column;
	}
	
	.para-casa {
		display: flex;
		flex-direction: column;
	}
	
	.para-empresa {
		display: flex;
		flex-direction: column;
	}
	
	#titulo-chamada-servicos {
		display: flex;
		flex-direction: column;
		padding: 15px;
		text-align: center;
	}
	
	#titulo-chamada-servicos br {
		display: none;
	}
	}